h1 {
    color: green;
    font-size:40px;
    font-weight:500;
    font-style:italic;
    text-align:centre;
    background-color: yellow;
}


body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5f5f5;
}

h2 {
    color: red;
}

p {
    line-height: 1.6;
}
